@page "/"
@using System.Web
@using _47FirstGitHubPage.Blazor.Components

<PageTitle>Home</PageTitle>

<LocaleButton CultureChanged="StateHasChanged"/>

<SectionContainer CssClass="main-section">
    <FullscreenFixedBackground ZIndex="-3" CssClass="main-background"/>
    <FullscreenFixedBackground ZIndex="-2" CssClass="logo-background"/>
    <FullscreenFixedBackground ZIndex="-1" CssClass="noise-background"/>

    <div class="profile-parent">
        <div class="flex-row gap-1em width-max-parent">
            <div class="profile-avatar"></div>
            <div class="flex-column gap-half-em no-margin-parent">
                <p style="font-size: 1.3em" class="foreground-dark-color">@PageLocalizer["Unity Developer"]</p>
                <p style="font-size: 1.55em" class="foreground-light-color">@PageLocalizer["Anton Derevnin"]</p>
                <p style="font-size: 1em" class="foreground-dark-color">47first</p>
            </div>
        </div>

        <p style="font-size: 1.3em; margin-top: 1em;" class="foreground-dark-color">@PageLocalizer["Languages"]</p>

        <div class="flex-row gap-half-em no-margin-parent">
            <div class="skill">@PageLocalizer["RussiaSkill"]</div>
            <div class="skill">@PageLocalizer["EnglishSkill"]</div>
        </div>

        <div class="links-parent">
            <p style="font-size: 1.3em" class="foreground-dark-color">@PageLocalizer["Links"]</p>

            <div class="flex-row gap-2em no-margin-parent">
                <a href="https://t.me/erlich_bachmanity" target="_blank" class="link telegram">
                    <img style="transform: translateX(-0.25em)" src="./images/telegram.svg"/>
                </a>
                <a href="https://47first.itch.io/" target="_blank" class="link itch-io">
                    <img src="./images/itch-io.svg"/>
                </a>
                <a href="https://github.com/47first" target="_blank" class="link github">
                    <img src="./images/github.svg"/>
                </a>
            </div>
        </div>
    </div>

    <div class="content-parent">
        <h1 style="margin-top: 0;" class="foreground-light-color">@PageLocalizer["About Me"]</h1>
        <h2 class="foreground-light-color">@AboutMeText</h2>

        <div class="margin-top-5em"></div>

        <h3 class="foreground-dark-color">@PageLocalizer["Common Skills"]</h3>
        <div class="flex-row flex-wrap gap-half-em no-margin-parent">
            <div class="skill">C#</div>
            <div class="skill">C++</div>
            <div class="skill">JS</div>
            <div class="skill">Git Bash</div>
            <div class="skill">.NET Memory Management</div>
        </div>

        <h3 class="foreground-dark-color">@PageLocalizer["Unity Skills"]</h3>
        <div class="flex-row flex-wrap gap-half-em no-margin-parent">
            <div class="skill">R3</div>
            <div class="skill">ZLogger</div>
            <div class="skill">Zenject</div>
            <div class="skill">ZLINQ</div>
            <div class="skill">DOTween</div>
            <div class="skill">ECS</div>
            <div class="skill">DOTS</div>
            <div class="skill">LeoECS</div>
            <div class="skill">Shader Graph</div>
            <div class="skill">Netcode for GameObjects</div>
            <div class="skill">UniTask</div>
            <div class="skill">Input System</div>
            <div class="skill">Unity Collections</div>
            <div class="skill">HLSL</div>
        </div>

        <h3 class="foreground-dark-color">@PageLocalizer["Web Skills"]</h3>
        <div class="flex-row flex-wrap gap-half-em no-margin-parent">
            <div class="skill">Blazor</div>
            <div class="skill">HTML</div>
            <div class="skill">CSS</div>
            <div class="skill">Dapper</div>
            <div class="skill">Entity Framework</div>
            <div class="skill">PostgreSQL</div>
            <div class="skill">Redis</div>
            <div class="skill">Kafka</div>
            <div class="skill">MediatR</div>
            <div class="skill">CQRS</div>
            <div class="skill">Firebase Admin</div>
            <div class="skill">gRPC</div>
            <div class="skill">Docker</div>
            <div class="skill">Docker-Compose</div>
            <div class="skill">Serilog</div>
            <div class="skill">Prometheus</div>
            <div class="skill">Grafana</div>
            <div class="skill">ASP NET Core</div>
            <div class="skill">Polly</div>
        </div>
    </div>

    <div class="portfolio-footer">
        <div class="dash-lines"></div>
        <p>@PageLocalizer["Portfolio below"]</p>
        <div class="dash-lines"></div>
    </div>
</SectionContainer>

<SectionContainer CssClass="ballmen-section">
    <FullscreenFixedBackground ZIndex="-4" CssClass="ballmen-background"/>
    <FullscreenFixedBackground ZIndex="-3" CssClass="blur-background"/>
    <FullscreenFixedBackground ZIndex="-2" CssClass="noise2-background"/>
    <FullscreenFixedBackground ZIndex="-1" CssClass="ballman-character-background"/>

    <div style="width: 35%; margin: 5em auto;" class="flex-column gap-1em">
        <img style="margin: 0 2em;" src="./images/ballmenLogo.svg"/>

        <iframe class="border-radius-p75em"
                width="100%" height="315"
                src="https://www.youtube.com/embed/1HZLZcE3lDA?si=gwioyFvl0sLVBCmn"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>

        <div class="border-radius-p75em" style="background-color: black; color: white">
            <h3 class="text-align-center margin-1em">@PageLocalizer["BallmenDescription"]</h3>
        </div>

        <iframe class="border-radius-p75em"
            frameborder="0"
            src="https://itch.io/embed/3371277?border_width=0&amp;bg_color=000000&amp;fg_color=ffffff&amp;link_color=FF5555&amp;border_color=444444"
            width="100%"
            height="165">
            <a href="https://47first.itch.io/ballmen-beta">Ballmen by 47first</a>
        </iframe>
    </div>
</SectionContainer>
